<section class="login-wrap mtb-40">
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="login-box">
        <h1  class="mt-3 text-center" >Log In Please</h1>
        <div class="alert alert-danger" *ngIf="Error">
          {{ massage }}
        </div>
        <div class="card-body">
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
              <div class="form-group">
                <label for="email" class="mt-3">Your Email</label>
                <input
                  formControlName="userEmail"
                  [ngClass]="{ 'is-invalid': submitted && h.userEmail.errors }"
                  type="text"
                  class="form-control"
                />

                <div
                  *ngIf="h.userEmail.touched && h.userEmail.errors"
                  class="text-warning"
                >
                  <div *ngIf="h.userEmail.errors.required">Email is required</div>
                  <div *ngIf="h.userEmail.errors.userEmail">
                    Email must be a valid email address
                  </div>
                </div>
              </div>



                <div class="form-group ">
                  <label for="inputPassword" class="mt-3">Password</label>
                  <input
                    formControlName="userPassword"
                    [ngClass]="{ 'is-invalid': submitted && h.userPassword.errors }"
                    type="password"
                    class="form-control"
                  />
                  <div
                    *ngIf="h.userPassword.touched && h.userPassword.errors"
                    class="text-warning"
                  >
                    <div *ngIf="h.userPassword.errors.required">
                      Password is required
                    </div>
                    <div *ngIf="h.userPassword.errors.minlength">
                      Password must be at least 6 characters
                    </div>
                  </div>
                </div>

                <div class="form-group form-check">
                  <input
                    formControlName="acceptTandC"
                    [ngClass]="{
                      'is-invalid': submitted && h.acceptTandC.errors
                    }"
                    type="checkbox"
                    id="acceptTerms"
                    class="form-check-input"
                  />
                  <label for="acceptTerms" class="form-check-label">
                    Remember me </label
                  >
                  <div class="text-warning">This  is required</div>
                 </div>

                <div class="text-center">
                  <button class="btn btn-primary btn-block mt-3" [disabled]= "loginForm.invalid">
                    Log In
                  </button>
                </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
